<h1><%= @product.name %></h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<br>
<%= image_tag(@product.image) %> <br> <br>
Price: $<%= @product.unit_price %> <br>
<%= @product.quantity %> in Stock
<br>
<br>
<% if logged_in? %>

<%= form_for(@line_item) do |f| %>
<!-- Cart ID: <%= f.collection_select(:shopping_cart_id, ShoppingCart.all, :id, :id) %> -->
Quantity: <%= f.number_field(:quantity) %>
<%= f.hidden_field(:product_id, :value => @product.id) %>
<%= f.submit "Add to Cart" %>
<% end %>
<% end %>
